section.hero{
    aspect-ratio: 5/4;
    width: 100%;
    background-image: url(../imgs/Café\ Bjerget.webp);
    background-size: cover;
    display: flex;
}

.herobox{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p.herotitle{
    color: var(--tertiary);
    font-family: "Instrument Serif", serif;
    font-size: 3rem;
    line-height: 5%;
}

.herobox > p,
.herobox > a{
    text-align: center;
}

h1{
    font-size: 3rem;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}
/*Denne block er her kun så <img> elementerne kan ses før billederne er sat ind*/
.grid-1 > img{
    border-style: inset;
    border-width: 1px;
}
/*Slet mig, når billederne er linket*/

.grid-1-p1{
    grid-column: span 2;
}

.grid-1-p2{
    grid-column: span 2;
    grid-row: 3;
}

.img1,
.img2{
    aspect-ratio: 1 / 1;
    width: 100%;
}

.img3{
    aspect-ratio: 2 / 1;
    width: 100%;
    grid-column: span 2;
    margin-bottom: 20%;
}
.flex-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-1 div p,
.flex-1 div h2{
    text-align: center;
}

.flex-1 div p a{
    text-decoration: underline;
}
