.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}



header{
  filter: drop-shadow(0px 5px 3px #00000011);
  position: sticky;
  top: 0;


  z-index: 1;
}



.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

html {
  --primary: white;
  --secondary: #cbbc9f;
  --tertiary: #624f41;
  --fjerdefarve: #818c30;
  --femtefarve: #696969;
  --sjettefarve: #333333;
  overflow-x: hidden;
  text-wrap: pretty;
  scroll-behavior: smooth;
}

a.cta {
  color: var(--secondary);
  background-color: var(--tertiary);
  padding: 2%;
  width: fit-content;
  transition: 0.15s linear;
}

a.cta:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}

header,
footer {
  background-color: var(--secondary);
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}

/**/
header img {
  display: flex;
}

main {
  padding: 1%;
  margin: 2% auto;
  max-width: 70%;
}

h1 {
  color: var(--tertiary);
  font-family: "Instrument Serif", serif;
  font-weight: 200;
}
h2 {
  font-family: "Inria Serif", serif;
  color: var(--secondary);
}
h3 {
  font-family: "Inria Serif", serif;
  color: var(--tertiary);
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  line-height: 1.4;
}

p,
a,
li {
  font-family: "Slabo 27px", sans-serif;
  text-decoration: none;
  color: var(--sjettefarve);
  list-style: none;
}

header p,
header a,
footer a,
footer p {
  color: var(--tertiary);
  text-transform: uppercase;
}

/* Menu og footer */
footer {
  text-align: center;
  margin-top: 10%;
}

.icons {
  display: flex;
  justify-content: center; /* Centrerer ikonerne horisontalt */
  align-items: center; /* Justerer ikonerne vertikalt */
  gap: 10px; /* Tilføjer mellemrum mellem ikonerne */
  margin-top: 10px;
}

.icons img {
  width: 30px; /* Ens størrelse til begge billeder */
  height: 30px; /* Fast højde for at undgå uens højder */
  object-fit: contain; /* Sikrer, at billederne bevarer deres proportioner */
}

.instagram,
.facebook {
  cursor: pointer;
  margin-bottom: 10px;
}
.space {
  padding-bottom: 25px;
  opacity: 0.5;
}

header {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 3%;
}

a#logo > img {
  aspect-ratio: 1 / 1;
  height: 60px;
}

.burger {
  display: block;
  padding: 10px;
  margin-right: 10px;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  right: -1%;
  /*Viser menuen frem når den er aktiv.*/
}
ul.menu {
  display: flex;
  position: absolute;
  top: 0;
  line-height: 140%;
  height: 90vh;
  z-index: -2;


  overflow-y: auto;
  scrollbar-width: none;
  right: -100%;
  /*Sætter menuen 100% over til højre
  når den ikke er i brug (Skjuler den)*/
  margin-top: 0;

  

  width: 30vw;
  transition: right 0.5s ease;
  background-color: var(--primary);
  padding: 2%;
  padding-top: 80px;
  
  
  flex-direction: column;
  justify-content: space-evenly;

}

ul.menu > li{
  padding: 0;
  margin: 0;
  flex-grow: 1;
  text-align: right;
  padding-right: 5vw;
  font-size: 120%;
}


.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--tertiary);
  margin-bottom: 5px;
  transition: 0.5s linear;
}
/*Denne block er her kun så <img> elementerne kan ses før billederne er sat ind*/
img.noimg {
  border-style: inset;
  border-width: 1px;
}
/*Slet mig .noimg fra <img> når billederne er linket*/

.currentpage{
  text-decoration: underline;
}

.splitter {
  height: 2px;
  width: 100%;
  background-color: var(--femtefarve);
  opacity: 50%;
}

@media screen and (min-width: 800px) {
  nav.active .menu {
    right: 0;
    /*Viser menuen frem når den er aktiv.*/
  }
  header > nav {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
  }
  ul.menu {
    padding-top: 0;
    height: auto;
    z-index: 1;
    flex-grow: 1;
    flex-direction: row;

    justify-content: space-between;
    position: relative;
    line-height: 140%;
    right: 0;
    display: flex;
    margin: 5%;
    transition: right 0.5s ease;
    background-color: transparent;
    padding: 0;
    border-style: none;
    z-index: 2;
  }
  ul.menu li > a {
    font-size: 120%;
    transition: 0.15s ease-in-out;
  }
  ul.menu li > a:hover {
    font-size: 130%;
  }
  a#logo {
    transition: 0.15s ease-in-out;
  }
  a#logo:hover {
    transform: scale(110%);
  }
  li.burgerwarning,
  .burger {
    display: none;
  }
  header {
    height: 10vh;
  }
}
