.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

html {
  --primary: white;
  --secondary: #cbbc9f;
  --tertiary: #624f41;
  --fjerdefarve: #818c30;
  --femtefarve: #696969;
  --sjettefarve: #333333;
}

header,
footer {
  background-color: var(--secondary);
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}

main {
  padding: 1%;
  margin: 0;
}

h1 {
  color: var(--tertiary);
  font-family: "Instrument Serif", serif;
}
h2 {
  color: var(--secondary);
}
h3 {
  font-family: "Inria Serif", serif;
  color: var(--tertiary);
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  line-height: 1.4;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--sjettefarve);
}

header p,
header a,
footer a,
footer p {
  color: var(--tertiary);
}

/* Menu og footer */
footer {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center; /* Centrerer ikonerne horisontalt */
  align-items: center; /* Justerer ikonerne vertikalt */
  gap: 10px; /* Tilføjer mellemrum mellem ikonerne */
  margin-top: 10px;
}

.icons img {
  width: 30px; /* Ens størrelse til begge billeder */
  height: 30px; /* Fast højde for at undgå uens højder */
  object-fit: contain; /* Sikrer, at billederne bevarer deres proportioner */
}

.instagram,
.facebook {
  cursor: pointer;
  margin-bottom: 10px;
}
.space {
  padding-bottom: 25px;
  opacity: 0.5;
}
